canvas{
    width:100%;
    background:black;
}
body, html{
height:100%;
margin:0;
}

h1{
color:chocolate;
background-color: black;
font-family: cursive;
margin-top: 0px;
margin-bottom: 0px;
text-align: center;
}